i.mr{
	margin-right: 7px;
}
.far.user-icon{
	font-size: 33px;
}
.pd-dash-footer{
	padding: 5px 0px;
}

.form-control::placeholder {
	color: #cdcdcd;
	opacity: 1;
	font-weight: normal;

}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cdcdcd;
    font-weight: normal;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #cdcdcd;
    font-weight: normal;
 }